html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    background-color:gold;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    opacity: 0.3;
}


ins{
    text-decoration: none;
}
li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
  width: 1200;
  display: flex;
}

.wallets { 
    width: 350px;
    height: 460px;
    padding: 40px;
    background-color: darkgrey;
    overflow: auto;

}

.wallets__item {
    display: flex;
    justify-content: space-between;
}


.left__puls { 
    border: none;
    background-color: darkgrey;
}


.card {
    width: 350px;
    height: 140px;
    background-color:white;
    border: 3px solid white;
    margin-bottom: 20px;
    border-radius: 8px;
}

.card:hover {
    border-color: rgba(3, 102, 214, 0.3);
    
}

.visa__item{
    padding-left: 10px;
}
.left__text {
    padding-left: 10px;
}

.about {
    width: 500px;
    background-color: #fff;
}


.about__item{
    display: flex;
    justify-content: space-between;
}

.about__h {
    font-size: 20px;
    color: black;
}

.about__p {
    font-size: 20px;
    color: black;
    font-weight: bold;
}


.appel__plus {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    margin-right: 50px;
    margin-top: 3px;
    background-color: rgb(220, 220, 220);
    cursor: pointer;
}


.appel__item {
    display: flex;
    margin-top: 20px;
}

.h3__color {
    color: rgb(119, 115, 115);
    font-size: 14px; 
}

.list__info {
    margin-bottom: 30px;
}

.list__item {
    display: flex;
    flex-direction: column;
}

.phone__3 {
    margin: 0 ;
}


.phone__sale{
    color: blue;
    font-weight: bold;
    font-size: 20px;
    margin-left: auto;
    text-decoration: none;
}

.color__green {
    color: green;
}

.color__red {
    color: red;
}

.color__item{
    color: saddlebrown;
}